* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
}

.app {
    background-image: linear-gradient(0deg, rgb(27,91,191),rgb(39,54,160));
    transition: 0.4 ease-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.search-container {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.location-date-box {
    padding: 20px 45px;
    border-right: 2px solid rgb(27,91,191);
}

.location {
    color: white;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.date {
    color: rgb(113, 151, 255);
    font-size: 20px;
    font-weight: 100;
    line-height: 35px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
}

.search-bar {
    width: 650px;
    height: 53px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
}

.main-temp-container {
    width: 100%;
    height: 80vh;
}

.today-temp {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.today-temp-left-box {
    display: flex;
    padding: 25px 55px;
    margin-right: 55px;
    border-right: 3px solid rgb(27,91,191);
    gap: 35px;
}

.today-temp-right-box {
    height: 80%;
    width: 450px;
}

.temp-icon-container img {
    width: 175px;
    filter: invert(100%) sepia(5%) saturate(482%) hue-rotate(23deg) brightness(119%) contrast(102%);
}

.degree-icon {
    font-size: 25px;
    color: #fff;
}

.temp {
    display: flex;
    color: white;
    font-size: 150px;
    font-weight: 100; 
}

.weather {
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.weather-data-top, .weather-data-bottom {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.weather-data-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.display-box-top {
    font-size: 35px;
    color: #fff;
}

.display-box-bottom {
    font-size: 20px;
    color: rgb(113, 151, 255);
}