* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    width: 100%;
}

.app {
    background-image: linear-gradient(0deg, rgb(27,91,191),rgb(39,54,160));
    transition: 0.4 ease-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.search-container-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    animation: transitionIn 500ms;
}

.weather-logo {
    color: rgb(148, 177, 255);
}

.home-logo {
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.logo-has-searched {
    color: white;
    font-weight: 600;
}

.has-searched-container {
    width: 100%;
    display: flex;
}

.location-date-box {
    padding: 20px 45px;
    border-right: 2px solid rgb(27,91,191);
    animation: transitionIn 500ms;
}

.location {
    color: white;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.date {
    color: rgb(113, 151, 255);
    font-size: 20px;
    font-weight: 100;
    line-height: 35px;
}

.search-box, .search-box-has-searched {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px; 
}

.search-box-has-searched {
    padding-left: 50px;
}

.search-bar {
    width: 80%;
    height: 53px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
}

.search-button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #183980;
    color: #fff;
}

.search-button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #183980;
}

.main-temp-container {
    width: 100%;
    min-height: 80vh;
}

.main-temp-container-loading {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 100px;
      left: 100px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }
  
.today-temp {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(27,91,191,.15),rgba(39,54,160,.15));
    box-shadow: -1px 10px 11px 0px rgba(0,0,0,0.05);
    opacity: 0;
    animation: transitionIn 500ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

.today-temp-left-box {
    display: flex;
    padding: 25px 55px;
    margin-right: 55px;
    border-right: 3px solid rgb(27,91,191);
    gap: 35px;
}

.today-temp-right-box {
    height: 80%;
    width: 450px;
}

.temp-icon-container img {
    width: 175px;
    filter: invert(100%) sepia(5%) saturate(482%) hue-rotate(23deg) brightness(119%) contrast(102%);
}

.degree-icon {
    font-size: 30px;
    color: #fff;
}

.temp {
    display: flex;
    color: white;
    font-size: 150px;
    font-weight: 100; 
}

.weather {
    color: white;
    font-size: 35px;
    font-weight: 100;
}

.weather-data-top, .weather-data-bottom {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.weather-data-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 90px;
    padding: 10px 0 10px 0;
}

.display-box-top {
    font-size: 35px;
    color: #fff;
}

.display-box-top span {
    font-size: 30px;
}

.display-box-bottom {
    font-size: 20px;
    color: rgb(113, 151, 255);
}

.degree-icon-small {
    font-size: 12px;
    position: absolute;
}

.week-temp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 2%;
    opacity: 0;
    animation: transitionIn 500ms;
    animation-delay: 400ms !important;
    animation-fill-mode: forwards;
}

.title-and-week-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 80%;
    color: #fff;
}

.week-weather-header {
    font-size: 25px;
    color: rgb(148, 177, 255);
}

.forecast-container {
    display: flex;
    text-align: center;
    gap: 15px;
}

.day-weather-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1b45a1;
    color: #fff;
    padding: 25px 35px;
    border-radius: 5px;
    width: 140px;
    height: 190px;
}

.day-weather-card img {
    filter: invert(100%) sepia(5%) saturate(482%) hue-rotate(23deg) brightness(119%) contrast(102%);
    width: 60px;
    height: 60px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@media only screen and (max-width: 1200px) {

    .search-box-has-searched {
        width: 450px;
    }

    .today-temp-left-box {
        margin-right: 30px;
        padding-right: 30px;
    }

    .day-weather-card {
        width: 100px;
        height: 150px;
        padding: 15px 35px;
    }

    .weather {
        font-size: 25px;
    }

    .temp {
        font-size: 100px;
    }

    .today-temp-right-box {
        width: 325px;
    }

    .display-box-top {
        font-size: 28px;
    }

    .display-box-bottom {
        font-size: 16px;
    }

    .title-and-week-cards {
        width: fit-content;
    }
}

@media only screen and (max-width: 900px) {

    .home-logo {
        font-size: 35px;
    }

    .location-date-box {
        border-right: 0;
    }
    
    .search-box-has-searched {
        display: none;
    }
    
    .search-box {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .search-bar {
        border-radius: 5px;
        width: 350px;   
    }

    .search-button {
        border-radius: 5px;
    }

    .today-temp {
        flex-direction: column;
        padding-bottom: 25px;
    }

    .today-temp-left-box {
        margin-right: 0;
        border-right: 0;
        border-bottom: 3px solid rgb(27,91,191);
    } 

    .day-weather-card {
        padding: 20px 35px;
        
    }  

    .day-weather-card:nth-child(-n+2){
        display: none;
    }
}





